<template>
  <v-container>
      <v-layout row wrap>
          <v-flex xs12>
              <v-card>
                  <v-card-title>
                      <h6 class="primary--text">My Meetup</h6>
                  </v-card-title>
                  <v-card-media
                    src="https://www.choicehotels.com/cms/images/choice-hotels/demand-articles/know-before-you-go-new-york-city-manhattan/know-before-you-go-new-york-city-manhattan.jpg"
                    height="400px">
                </v-card-media>
                <v-card-text>
                    <div class="info--text">17th July 2017 - Where it takes place</div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary">Register</v-btn>
                </v-card-actions>
              </v-card>
          </v-flex>
      </v-layout>
  </v-container>
</template>
